<!--
  NEVER edit index.html - ALWAYS edit index.html.dist
-->
<!DOCTYPE html>
<html lang='en'>
  <head> <!-- {{{1 -->
    <meta charset="utf-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>SHEX Demo</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body onload='initApp()' onunload='releaseApp()'> <!-- {{{1 -->
<div class="header"> <!-- {{{2 -->
  <h1>Stellar Help Exchange (SHEX)</h1>
  <p>Enabling distributed, open and trust-free help exchange worldwide</p>
</div>

<div class="topnav"> <!-- {{{2 -->
  <b>&nbsp;Demo network:&nbsp;</b>
  <select id='network' onchange='process.view.networkChanged(this)'>
    <option selected value='test'>test</option>
    <option value='public'>public</option>
<!--    
    <option value='custom'>custom</option>

See also:
https://www.w3schools.com/charsets/ref_emoji.asp

-->
  </select>
  <button type="button" id='buttonBuyHEXA' onclick="process.view.buyHEXA()">&#x2744;</button>
  <button type="button" onclick="alert('Add User')">&#x2795;</button>
  <button type="button" style="float:right" onclick="alert('FAQ')">&#x2753;</button>
</div>

<div class="row"> <!-- {{{2 -->
  <div class="column">
    <h2>What is SHEX?</h2>
    <p>An AIM project by Did Alik, SHEX is a communication service that enables its users to make and take help offers and help requests.</p>
  </div>
  
  <div class="column">
    <h2>How does it work?</h2>
    <p>It runs on Stellar, an open network for money. When you take a help offer or accept a bid on your help request, you send back HEXA &#x2744; - the asset SHEX runs on.</p>
  </div>
  
  <div class="column">
    <h2>Why should I care?</h2>
    <p>You can benefit from it:
<ul>
  <li>as a user;</li>
  <li>as a code contributor;</li>
  <li>as a code maintainer; and</li>
  <li>as a business partner.</li>
</ul>
    </p>
  </div>
</div>

    <div id="commonParentModal" class="modal"> <!-- {{{2 -->
<!-- mcBuyHEXA {{{3 -->
<div class="modal-content" id='mcBuyHEXA'>
<span id='mcBuyHEXAclose' class="close">&#x274C;</span>
<span id='mcBuyHEXAhelp' class="help">&#x2753;</span>
<div class="header">
  <h2>Buy HEXA</h2>
</div>
<p id='mcBuyHEXA_yesno'> <!-- {{{4 --> 
  To buy HEXA &#x2744;, do you want to use your existing Stellar account and store its Stellar Secret Key on this device?
  <input type='radio' name='yesno-group1' onclick='buyHEXA_yes()'>Yes
  <input type='radio' name='yesno-group1' onclick='buyHEXA_no()'>No
</p>
<div id='mcBuyHEXA_ui' style='display:none'> <!-- {{{4 -->
  Please add or edit your info:
  <div>
    <b>Greeting&nbsp;</b><input type="text" placeholder="E.g., Miss Alice" required onchange='buyHEXA_do()'>
  </div>
  <div>
    <b>Email&nbsp;</b><input type="text" placeholder="Your email address" required onchange='buyHEXA_do()'>
  </div>
  <div>
    <input type="password" size='28' maxlength='56' placeholder="Your Stellar account secret key" required oninput='buyHEXA_do()'>
  </div>
  <p>By continuing you agree to our 
    <a href="https://github.com/amissine/shed/blob/main/terms-and-conditions.md#terms-and-conditions-for-stellar-help-exchange-shex">Terms & Conditions</a>.
  </p>
  <button id='mcBuyHEXA_go' type="button" disabled onclick='process.view.buyHEXA_continue()'>Continue</button>
</div>
<div id='mcBuyHEXA_DEX' style='display:none'> <!-- {{{4 -->
  <b>DEX console</b><br/>
  <textarea rows="16" cols="44" id='mcBuyHEXA_DEX_textarea' style='resize:none' readonly='true'>Stellar Distributed Exchange HEXA@XLM events</textarea>
  <hr/>
</div>
<div id='mcBuyHEXA_order' style='display:none'> <!-- {{{4 -->
  <b>Your HEXA@XLM Order&nbsp;</b><input type="text" size='14' placeholder="E.g., b100.1@99.2" required oninput='buyHEXA_order()'>
  <br/><button id='mcBuyHEXA_order_do' type="button" disabled onclick='process.view.buyHEXA_order()'>Continue</button>
</div>
<div id='mcBuyHEXA_goCogs' style="display:none"> <!-- {{{4 -->
  XXX... <img src='favicon.ico'/>
</div>

<!-- }}}4 -->
</div> <!-- mcBuyHEXA -->

<!-- }}}3 -->
    </div> <!-- commonParentModal -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/10.1.2/stellar-sdk.js"></script><!-- {{{2 -->
    <script><!-- {{{2 -->
function buyHEXA_do () { // add or edit user info {{{3
  let kids = document.getElementById('mcBuyHEXA_ui').children
  for (let kid of kids) {
    if (kid.tagName != 'DIV') {
      break;
    }
    let v = kid.lastElementChild.value
    if (!v) {
      return;
    }
  }
  document.getElementById('mcBuyHEXA_go').disabled = false
}

function buyHEXA_no () { // {{{3
  alert(TODO)
}

function buyHEXA_order () { // {{{3
  document.getElementById('mcBuyHEXA_order_do').disabled = false
}

function buyHEXA_yes () { // {{{3
  document.getElementById('mcBuyHEXA_ui').style='display:block'
}

function initApp () { // {{{3
  try {
    //alert('Hi there')
    process.view.init(document.getElementById('network'))
  } catch(e) {
    console.error(e)
    alert(e)
  }
}

async function releaseApp () { // {{{3
  alert('Bye now')
  //await process.presenter.release()
}

// }}}3
    </script>
    <script src='./presenter.js'></script>
    <script src="./index.js"></script> <!-- index.mjs }}}2 -->
  </body> <!-- }}}1 -->
</html>
