<!--
  NEVER edit index.html - ALWAYS edit index.html.dist
-->
<!DOCTYPE html>
<html lang='en'>
  <head> <!-- {{{1 -->
    <meta charset="utf-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>SHEX Lab</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body onload='initApp()' onunload='releaseApp()'> <!-- {{{1 -->
<div class="header"> <!-- {{{2 -->
  <h1>Stellar Help Exchange (SHEX)</h1>
  <p>Enabling distributed, open and trust-free help exchange worldwide</p>
</div>

<div class="topnav"> <!-- {{{2 -->
  <b>&nbsp;SHEX Lab network:&nbsp;</b>
  <select id='network' onchange='process.view.networkChanged(this)'>
    <option selected value='test'>test</option>
    <option value='public'>public</option>
<!--    
    <option value='custom'>custom</option>

See also:
https://www.w3schools.com/charsets/ref_emoji.asp

-->
  </select>
  <button type="button" id='buttonBuyHEXA' onclick="process.view.buyHEXA()">&#x2744;</button>
  <button type="button" onclick="alert('Add User')">&#x2795</button>
  <button type="button" style="float:right" onclick="alert('FAQ')">&#x2753;</button>
</div>

<div class="row"> <!-- {{{2 -->
  <div class="column">
    <h2>What is SHEX?</h2>
    <p>An AIM project by Did Alik, SHEX is a communication service that enables its users to make and take help offers and help requests.</p>
  </div>
  
  <div class="column">
    <h2>How does it work?</h2>
    <p>It runs on Stellar, an open network for money. When you take a help offer or accept a bid on your help request, you send back HEXA &#x2744; - the asset SHEX runs on.</p>
  </div>
  
  <div class="column">
    <h2>Why should I care?</h2>
    <p>You can benefit from it:
<ul>
  <li>as a user;</li>
  <li>as a code contributor;</li>
  <li>as a code maintainer; and</li>
  <li>as a business partner.</li>
</ul>
    </p>
  </div>
</div>

    <div id="commonParentModal" class="modal"> <!-- {{{2 -->
<!-- mcBuyHEXA {{{3 -->
<div class="modal-content" id='mcBuyHEXA'>
<span id='mcBuyHEXAclose' class="close">&#x274C;</span>
<span id='mcBuyHEXAhelp' class="help">&#x2753;</span>
<form>
  <div class="header"> <!-- {{{4 --> 
    <h2>Buy HEXA</h2>
  </div>
  <p>
    To buy HEXA &#x2744;, do you want to use your existing Stellar account and store its Stellar Secret Key on this device?
      <input type='radio' name='yesno-group1' onclick='buyHEXA_yes()'>Yes
      <input type='radio' name='yesno-group1' onclick='buyHEXA_no()'>No
    <div>
    </div>
    <div>
    </div>
  </p>
  <div id='mcBuyHEXA_ui' style='display:none'> <!-- {{{4 -->
    Please add or edit your info:
    <div>
      <b>Greeting</b><input type="text" placeholder="E.g., Miss Alice" required>
    </div>
    <div>
      <b>Email</b><input type="text" placeholder="Your email address" required>
    </div>
    <div>
      <input type="password" size='60' maxlength='56' placeholder="Your Stellar account secret key" required>
    </div>
    <p>By continuing you agree to our 
      <a href="https://www.termsfeed.com/live/47782836-acc3-4660-a75b-a44a24dc50fb" style="color:dodgerblue">Terms & Conditions</a>.
    </p>
    <button id='mcBuyHEXA_go' type="button" disabled onclick='mcBuyHEXA_f()'>Continue</button>
    <div id='mcBuyHEXA_goCogs' style="display:none">
      XXX... <img src='favicon.ico'/>
    </div>
  </div>

  <!-- }}}4 -->
</form>
</div> 

<!-- }}}3 -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/10.1.2/stellar-sdk.js"></script><!-- {{{2 -->
    <script><!-- {{{2 -->
function initApp () { // {{{3
  try {
    //alert('Hi there')
    process.view.init(document.getElementById('network'))
  } catch(e) {
    console.error(e)
    alert(e)
  }
}

async function releaseApp () { // {{{3
  alert('Bye now')
  //await process.presenter.release()
}

// }}}3
    </script>
    <script src='./presenter.js'></script>
    <script src="./index.js"></script> <!-- index.mjs }}}2 -->
  </body> <!-- }}}1 -->
</html>
