<!--
  NEVER edit index.html - ALWAYS edit index.html.dist
-->
<!DOCTYPE html>
<html lang='en'>
  <head> <!-- {{{1 -->
    <meta charset="utf-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>SHEX Lab</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body onload='initApp()' onunload='releaseApp()'> <!-- {{{1 -->
<div class="header"> <!-- {{{2 -->
  <h1>Stellar Help Exchange (SHEX)</h1>
  <p>Enabling distributed, open and trust-free help exchange worldwide</p>
</div>

<div class="topnav"> <!-- {{{2 -->
  <b>&nbsp;SHEX Lab network:&nbsp;</b>
  <select id='network'>
    <option selected value='test'>test</option>
    <option value='public'>public</option>
    <option value='custom'>custom</option>
  </select>
  <button type="button" onclick="alert('Buy HEXA')">✨</a>
  <button type="button" onclick="alert('Add User')">➕</a>
  <button type="button" style="float:right" onclick="alert('FAQ')">❓</a>
</div>

<div class="row"> <!-- {{{2 -->
  <div class="column">
    <h2>What is SHEX?</h2>
    <p>SHEX is a communication service that enables its users to make and take help offers and help requests.</p>
  </div>
  
  <div class="column">
    <h2>How does it work?</h2>
    <p>It runs on Stellar - an open network for money. When you take an offer or accept a bid on your request, you send back HEXA ✨ - the asset SHEX runs on.</p>
  </div>
  
  <div class="column">
    <h2>Why should I care?</h2>
    <p>You can benefit from it.</p>
  </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/10.1.2/stellar-sdk.js"></script><!-- {{{2 -->
    <script>
function initApp () { // {{{3
  try {
    alert('Hi there')
    //process.view.init()
  } catch(e) {
    console.error(e)
    alert(e)
  }
}

async function releaseApp () { // {{{3
  alert('Bye now')
  //await process.presenter.release()
}

// }}}3
    </script>
    <script src='./presenter.js'></script>
    <script src="./index.js"></script> <!-- index.mjs }}}2 -->
  </body> <!-- }}}1 -->
</html>
