/*
  NEVER edit process.mjs - ALWAYS edit process.mjs.dist
*/
import { init } from './view/onload.mjs'

function setenv () { // {{{1
  if (window.process) {
    return;
  }
  window.process = {
    env: {
      AGENT_custom: '${AGENT_custom}',
      AGENT_public: '${AGENT_public}',
      AGENT_test: '${AGENT_test}',
      HEXA_ISSUER_custom: '${HEXA_ISSUER_custom}',
      HEXA_ISSUER_public: '${HEXA_ISSUER_public}',
      HEXA_ISSUER_test: '${HEXA_ISSUER_test}',
      HORIZON_URL_custom: '${HORIZON_URL_custom}',
      HORIZON_URL_public: '${HORIZON_URL_public}',
      HORIZON_URL_test: '${HORIZON_URL_test}',
      STELLAR_NETWORK_custom: '${STELLAR_NETWORK_custom}',
      STELLAR_NETWORK_public: '${STELLAR_NETWORK_public}',
      STELLAR_NETWORK_test: '${STELLAR_NETWORK_test}',
      U0_custom_userPK: '${U0_custom_userPK}',
      U0_public_userPK: '${U0_public_userPK}',
      U0_test_userPK: '${U0_test_userPK}',
      U1_custom_userPK: '${U1_custom_userPK}',
      U1_public_userPK: '${U1_public_userPK}',
      U1_test_userPK: '${U1_test_userPK}',
    },
    session: {},
    view: {
      init,
    },
  }
}
// }}}1
export { setenv }
