/* Use :vert diffsplit ~/Downloads/style.css {{{1
 * to edit this file
 */

* { /* {{{1 */
  box-sizing: border-box; /* padding and border are included in the width and height */
  font: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
}

/* Style the header {{{2 */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.header h2 {
  margin: 0px;
  /*text-align: center;*/
}

/* Style the top navigation bar {{{2 */
.topnav {
  overflow: hidden;
  background-color: #06beb6;
  background-image: linear-gradient(to right, #06beb6, #f0beb6);
}

/* Style the topnav elements {{{2 */
.topnav b select button {
  float: left;
}

.topnav button {
  background-color: darkgrey;
}

.topnav button:hover {
  background-color: grey;
  cursor: pointer;
}

/* Create three equal columns that float next to each other {{{2 */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns {{{2 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* }}}2 */

/* The Modal (background) {{{1 */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content {{{1 */
.modal-content {
  background-color: #fefefe;
  display: none; /* Hidden by default */
  margin: auto; /* horizontally center the element within its container */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}

/* The Close Button {{{1 */
.close {
  float: left;
  padding: 8px;
  font-size: 20px;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* The Help Button {{{1 */
.help {
  float: right;
  padding: 4px;
  font-size: 28px;
/*  font-weight: bold;*/
}

.help:hover,
.help:focus {
  cursor: pointer;
}

/* Responsive layout {{{1 */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  .modal-content {
    width: 95%;
  }
}

/* }}}1 */
